@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

:root {
  --primary: #26c0ab;
  --dark: #00494d;
  --dark-grayish: #5e7a7d;
  --grayish: #7f9c9f;
  --light-grayish: #c5e4e7;
  --very-light-grayish: #f4fafa;
  --white: #ffffff;
}

body {
  font-family: "Space Mono", monospace;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
